@import '../mixins.sass'
    
message-background--start
    z-index: -1
    opacity: 0

.message-background
    @include fullCover()
    @include flexRowCenter()
    background-color: #00000065
    z-index: -1
    opacity: 0
    backdrop-filter: blur(3px)
    animation-name: hide
    animation-duration: .25s
    animation-fill-mode: forwards

.message--visible
    animation-name: show
    animation-duration: .25s
    animation-fill-mode: forwards

.message-box
    @include flexColumnCenter()
    @include color(normal)
    width: 90%
    max-width: 500px
    height: 90%
    max-height: 300px
    gap: 1rem
    border-radius: .5rem
    border: 1ps solid var(--color-font)

.message
    width: 80%
    height: 50%
    @include flexColumnCenter()
    @include font(1.25rem)

.message-button
    @include font(1rem)
    width: 70%
    padding: 1rem
    cursor: pointer
    background-color: inherit
    color: inherit
    border: 2px solid var(--color-font)
    