@import '../mixins.sass'
// Page container
.page
    @include flexColumnCenter()
    justify-content: flex-start
    @include color(normal)
    position: relative
    height: calc(100vh - 5rem)
    width: 100%
    overflow-y: scroll
    text-align: center
    animation: slideDown .5s forwards
    
.page-fullscreen
    position: absolute
    top: 0
    height: 100vh

.page-content
    @include flexColumnCenter()
    @include font(1.5rem)
    width: 90%
    max-width: 1450px
    flex-grow: 1
    padding: 1rem 0 1rem 0
    line-height: 2
    
.spinner
    width: 200px
    height: 200px
    background-color: red
    z-index: 1000