 /* colors */
 :root {
    --color-link: black;
    --color-link-hover: rgb(255, 0, 0);
    --color-navbar: rgb(172, 237, 255);
    --color-font: black;
    --color-background: rgb(209, 246, 255);;
}

[data-theme='dark'] {
    --color-link: white;
    --color-link-hover: lime;
    --color-navbar: rgb(0, 33, 43);
    --color-font: white;
    --color-background: rgb(0, 46, 59);
}
