/* global elements and classes */

body {
    background-color: var(--color-background);
}

/* layout */
.layout {
    width: 100%;
    height: calc(100vh - 5rem);
}

/* Page container */
.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--color-font);
}
