/* Custom vertical scrollbar*/
::-webkit-scrollbar {
    width: 12px;
    scrollbar-width: thin;
}
::-webkit-scrollbar-thumb {
    background: var(--color-link-hover);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}