.button
    font-size: 1.5rem
    width: 100%
    padding: 1rem
    margin: 2rem 0 2rem 0
    cursor: pointer
    background-color: inherit
    color: inherit
    border: 2px solid var(--color-font)
    text-decoration: none
    max-width: 500px

.button:hover
    transition: 0.5s
    color: var(--color-link-hover)

